@media(max-widht: 1440px) {
    .about_me {
        font-size: 4vw;
    }

    .content_title-desc {
        font-size: 3vw;
    }

    .content_avatar {
        width: 50vw;
    }

}

@media(max-widht: 1024px) {
    nav ul li {
        text-align: center;
        
    }
    .about_me {
        font-size: 4vw;
    }

    .content_title-desc {
        font-size: 3vw;
    }

    .content_avatar {
        display: block;
        width: 50vw;
        margin: 0 auto;
    }

    .animation__square-1 {
        width: 10vw;
        height: 10vw;
    }

    .animation__square-2 {
        width: 10vw;
        height: 10vw;
        left: 500px;
    }

    .animation__square-3 {
        width: 10vw;
        height: 10vw;
        top: 150px;
    }

    .animation__square-4 {
        width: 10vw;
        height: 10vw;
        top: 200px;
        left: 300px;
        
    }
}

@media(max-widht: 768px) {
    #hero {
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .about_me {
        font-size: 4vw;
        margin-bottom: 20px;
    }

    .content_title-desc {
        font-size: 3vw;
    }

    .content_avatar {
        display: block;
        width: 50vw;
        margin-top: 0 auto
    }

    .content_title {
        display: block;
        margin: 0 auto;

    }

    nav ul {
        text-align: center;
    }

    .animation__square-2 {
        position: absolute;
        width: 10vw;
        height: 10vw;
        left: 300px;
    }
}

@media(max-widht: 425px) {
    #hero {
        padding-left: 30px;
        padding-bottom: 30px;
    }

    nav ul {
        text-align: center;
    }

    .about_me {
        display: inline-block;
        font-size: 4vw;
    }

    .content_title-desc {
        display: block;
        font-size: 3vw;
    }

    .content_avatar {
        width: 50vw;

    }

    .content_title {
        margin: 0 auto;
    }


    nav ul {
        text-align: center;
    }


}

@media(max-widht: 320px) {


    .about_me {
        font-size: 4vw;
    }

    .content_title-desc {
        font-size: 3vw;
    }

    .content_avatar {
        width: 50vw;
    }

    nav ul {
        text-align: center;
    }

}